<accordion-group #group *ngFor="let item of tree" [panelClass]="'panel'">
  <div accordion-heading>
    <b>{{item.name}}</b>
    <a class="clickable" *ngIf="_banks.indexOf(item.name)>-1" (click)=onClick($event,item)>>></a>
    <i class="pull-right float-xs-right glyphicon" [ngClass]="{'glyphicon-chevron-down': group?.isOpen, 'glyphicon-chevron-right': !group?.isOpen}"></i>
  </div>
  <ul *ngIf="item.children && item.children[0].name.indexOf('.')>-1" class="custom-list">
    <li *ngFor="let child of item.children"><a class="clickable" (click)="onClick($event,child)">{{child.name}}</a></li>
  </ul>
  <accordion *ngIf="item.children && item.children[0].name.indexOf('.')==(-1)">
    <file-tree [tree]="item.children" (select)="onChildClick($event)"></file-tree>
  </accordion>
</accordion-group>
