<div class="col-md-3">
  <div class="input-group">
    <span class="input-group-addon" id="spinner">
      <spinner [visible]="servers.length==0" [size]="'1x'" class=""></spinner>
    </span>
    <select class="form-control clickable" #u (change)="selectServer(u.value)" [disabled]="servers.length==0" aria-describedby="spinner">
    <option value="">Select a server...</option>
    <option *ngFor="let server of servers" value="{{server}}">{{server}}</option>
  </select>
  </div>
  <accordion>
    <file-tree [tree]="fileTree" (select)="selectPath($event)"></file-tree>
  </accordion>
</div>
<div *ngIf="currentPath" class="col-md-7">
  <p><b>Current log path: {{currentPath}}</b></p>
  <form #form="ngForm" role="search" (ngSubmit)="getLoggedMessagesList(form.value)">
    <div class="input-group">
      <input id="trackingId" ngModel name="trackingId" #trackingId="ngModel" type="text" class="form-control" placeholder="Enter message tracking id"
        required autofocus>
      <span class="input-group-btn">
        <button type="submit" class="btn btn-default">Find</button>
      </span>
    </div>
  </form>
  <spinner [visible]="isLoading"></spinner>
  <div *ngIf="currentTrackingId && logResultList" class="form-group">
    <accordion>
      <accordion-group #group *ngFor="let logResult of logResultList" [panelClass]="'panel'">
        <div accordion-heading>
          {{logResult.fileName}}
          <i class="pull-right float-xs-right glyphicon" [ngClass]="{'glyphicon-chevron-down': group?.isOpen, 'glyphicon-chevron-right': !group?.isOpen}"></i>
        </div>
        <div *ngIf="logResult.messages.length==0">
          no log messages with current tracking id
        </div>
        <pre *ngFor="let message of logResult.messages" class="language-markup"><code class="language-markup" [innerHTML]="message"></code></pre>
      </accordion-group>
    </accordion>
  </div>
</div>
